<thead>
    <tr>
        <th></th>
        <th> Airbnb </th>
        <th> Competitors </th>
    </tr>
</thead>
<tbody>
    <tr class="heading-row">
        <th> Guest Identity Verification </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
    </tr>
    <tr class="description-row">
        <td colspan="1">
            Our comprehensive verification system checks details such as name, address, government ID and more to
            confirm the identity of guests who book on Airbnb.
        </td>
    </tr>

    <tr class="heading-row">
        <th> Reservation Screening </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>
    <tr class="description-row">
        <td colspan="1">
            Our proprietary technology analyses hundreds of factors in each reservation and blocks certain bookings that
            show a high risk for disruptive parties and property damage.
        </td>
    </tr>

    <tr class="heading-row">
        <th> $3 damage protection </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>
    <tr class="description-row">
        <td colspan="1">
            Airbnb reimburses you for damage caused by guests to your home and belongings and includes these specialised
            protections:
        </td>
    </tr>

    <tr class="heading-row light-heading">
        <th> Art & valueables </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>

    <tr class="heading-row light-heading">
        <th> Auto & boat </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>

    <tr class="heading-row light-heading">
        <th> Pet damage </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>

    <tr class="heading-row light-heading">
        <th> Income loss </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>

    <tr class="heading-row light-heading">
        <th> Deep cleaning </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>

    <tr class="heading-row">
        <th> $1m USD liability insurance </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
    </tr>
    <tr class="description-row">
        <td colspan="1">
            You're protected in the rare event that a guest gets hurt or their belongings are damaged or stolen.
        </td>
    </tr>

    <tr class="heading-row">
        <th> 24-hour safety line </th>
        <td>
            <div>
                <img src="../public/images/correct.svg" alt="present" title="present" class="present">
            </div>
        </td>
        <td>
            <div>
                <img src="../public/images/incorrect.svg" alt="absent" title="absent" class="absent">
            </div>
        </td>
    </tr>
    <tr class="description-row">
        <td colspan="1">
            If you ever feel unsafe, our app provides one-tap access to specially trained safety agents, day or night.
        </td>
    </tr>
</tbody>