<div class="footer-upper-links">
    <div>
        <div>
            <h3> Support </h3>
        </div>
        <div>
            <a href="javascript:void(0)"> Help Centre </a>
            <a href="javascript:void(0)"> AirCover </a>
            <a href="javascript:void(0)">
                Supporting people with disabilities
            </a>
            <a href="javascript:void(0)"> Cancellation options </a>
            <a href="javascript:void(0)"> Our COVID-19 Response </a>
            <a href="javascript:void(0)">
                Report a neighbourhood concern
            </a>
        </div>
    </div>

    <div>
        <div>
            <h3> Community </h3>
        </div>
        <div>
            <a href="javascript:void(0)">
                Airbnb.org : disaster relief housing
            </a>
            <a href="javascript:void(0)"> Combating discrimination </a>
        </div>
    </div>

    <div>
        <div>
            <h3> Hosting </h3>
        </div>
        <div>
            <a href="javascript:void(0)"> Airbnb your home </a>
            <a href="javascript:void(0)"> AirCover for Hosts </a>
            <a href="javascript:void(0)">
                Explore hosting resources
            </a>
            <a href="javascript:void(0)">
                Visit our community forum
            </a>
            <a href="javascript:void(0)"> How to host responsibly </a>
        </div>
    </div>

    <div>
        <div>
            <h3> Airbnb </h3>
        </div>
        <div>
            <a href="javascript:void(0)"> Newsroom </a>
            <a href="javascript:void(0)"> Learn about new features </a>
            <a href="javascript:void(0)"> Letter from our founders </a>
            <a href="javascript:void(0)"> Careers </a>
            <a href="javascript:void(0)"> Investors </a>
        </div>
    </div>
</div>

<div class="footer-lower-links">
    <div>
        &copy;
        <span id="year">
            &nbsp; <%= new Date().getUTCFullYear() %> &nbsp;
        </span>
        Airbnb, Inc.
        <span class="dot"> • </span>
        <a href="javascript:void(0)"> Privacy </a>
        <span class="dot"> • </span>
        <a href="javascript:void(0)"> Terms </a>
        <span class="dot"> • </span>
        <a href="javascript:void(0)"> Sitemap </a>
        <span class="dot"> • </span>
        <a href="javascript:void(0)"> Company details </a>
        <span class="dot"> • </span>
        <a href="javascript:void(0)"> Destinations </a>
    </div>

    <div>
        <button type="button" class="globe">
            <img src="../public/images/globe.svg" alt="globe" title="globe">
        </button>
        <a href="javascript:void(0)"> English (IN) </a>
        <span class="dot"> • </span>
        <a href="javascript:void(0)"> &#8377; INR </a>
        <div class="social-links">
            <img src="../public/images/facebook_black.svg" alt="facebook" title="facebook">
            <img src="../public/images/twitter.svg" alt="twitter" title="twitter">
            <img src="../public/images/instagram.svg" alt="instagram" title="instagram">
        </div>
    </div>
</div>