<div class="dropdown-menu wide hide">
    <a href="javascript:void(0)" class="show-modal"> Log in </a>
    <a href="javascript:void(0)" class="show-modal"> Sign up </a>

    <span class="dropdown-divider"></span>

    <a href="/host"> Airbnb your home </a>
    <a href="https://www.airbnb.co.in/help?audience=guest"> Help Centre </a>
</div>