<div id="modal-overlay" class="hide">
    <div class="modal">
        <div class="content-box" id="login-or-signup">
            <header>
                <button type="button" class="icon-button" id="close">
                    <img src="../public/images/close.svg" alt="close" title="close">
                </button>
                <span> Log in or sign up </span>
                <button type="button" class="icon-button invisible">
                    <img src="../public/images/close.svg" alt="close" title="close">
                </button>
            </header>

            <div class="content">
                <span> Welcome to Airbnb </span>

                <form action="" method="post" id="validation-form">
                    <div class="input-box" id="email-box">
                        <i class="fa-solid fa-envelope icon"></i>
                        <input type="email" name="email" id="email" inputmode="email" placeholder="Email"
                            autocomplete="off"
                            pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                            title="Email must contain '@' and '.' to be valid" required>
                    </div>
                    <div class="error hide">
                        <i class="fa-solid fa-circle-info"></i>
                        Please enter a valid email address.
                    </div>

                    <button type="submit" class="button activate" id="continue">
                        Continue
                    </button>
                </form>

                <div class="seperator">
                    <div></div>
                    <span> or </span>
                    <div></div>
                </div>

                <button type="button" class="social">
                    <img src="../public/images/facebook.svg" alt="Facebook" title="Facebook" id="facebook">
                    Continue with Facebook
                    <div class="invisible"></div>
                </button>
                <button type="button" class="social">
                    <img src="../public/images/google.svg" alt="Google" title="Google" id="google">
                    Continue with Google
                    <div class="invisible"></div>
                </button>
                <button type="submit" class="social">
                    <img src="../public/images/apple.svg" alt="Apple" title="Apple" id="apple">
                    Continue with Apple
                    <div class="invisible"></div>
                </button>
            </div>
        </div>

        <div class="content-box" id="add-signup-info">
            <header>
                <button type="button" class="icon-button" id="back-to-login-or-signup">
                    <img src="../public/images/left_caret.svg" alt="go back">
                </button>
                <span> Finish signing up </span>
                <button type="button" class="icon-button invisible">
                    <img src="../public/images/left_caret.svg" alt="go back">
                </button>
            </header>

            <div class="content">
                <form action="/api/sendOTP" method="post" id="signup-form">
                    <div>
                        <div class="input-box" id="name-box">
                            <i class="fa-solid fa-user-tie icon"></i>
                            <input type="text" name="name" id="name" placeholder="Name" autocomplete="off" minlength="4" maxlength="32" pattern=".{4,32}"
                                title="Enter your name (4 - 32 characters)" required>
                        </div>
                        <div class="error hide">
                            <i class="fa-solid fa-circle-info"></i>
                            Name is required to continue
                        </div>
                        <div class="hint">
                            Make sure it matches the name on your government ID.
                        </div>
                    </div>

                    <div>
                        <div class="input-box" id="date-box">
                            <i class="fa-solid fa-calendar-days icon"></i>
                            <input type="date" name="dateOfBirth" id="date" placeholder="Date of Birth" autocomplete="off"
                                title="You must be 18 or older to use Airbnb." required>
                        </div>
                        <div class="error hide">
                            <i class="fa-solid fa-circle-info"></i>
                            Date of Birth is required to continue
                        </div>
                        <div class="hint">
                            You must be 18 or older to use Airbnb. Other people won't see your birthday.
                        </div>
                    </div>

                    <div>
                        <div class="input-box" id="signup-email-box">
                            <i class="fa-solid fa-envelope icon"></i>
                            <input type="email" name="email" id="signup-email" inputmode="email" placeholder="Email"
                                autocomplete="off"
                                pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                title="Email must contain '@' and '.' to be valid" readonly required>
                        </div>
                        <div class="hint">
                            We'll send you an OTP on this address to verify your identity.
                        </div>
                    </div>

                    <div>
                        <div class="input-box" id="password-box">
                            <i class="fa-solid fa-lock icon"></i>
                            <input type="password" name="password" class="input" id="password" placeholder="Password (8+ characters)" autocomplete="off" minlength="8" maxlength="32" pattern=".{8,32}" title="Enter password containing at least 8 characters" required>
                            <i class="fa-solid fa-eye eye icon"></i>
                        </div>
                        <div class="error hide">
                            <i class="fa-solid fa-circle-info"></i>
                            Password must contain at least 8 characters with alphabets, digits & symbols.
                        </div>
                        <div class="hint">
                            Password must contain at least 8 characters with alphabets, digits & symbols.
                        </div>
                    </div>

                    <div class="confirmation">
                        By selecting
                        <span> Agree and continue </span>, I agree to Airbnb's <a href="javascript:void(0)">
                            Terms of Service
                        </a>, <a href="javascript:void(0)">
                            Payments Terms of Service
                        </a>, and <a href="javascript:void(0)">
                            Nondiscrimination Policy
                        </a> and acknowledge the <a href="javascript:void(0)">
                            Privacy Policy
                        </a>.
                    </div>

                    <button type="submit" class="button activate" id="agree-and-continue">
                        <i class="fa-solid fa-handshake"></i>
                        Agree and continue
                    </button>
                </form>

                <div class="seperator"> <div></div> </div>

                <div class="statement">
                    Airbnb will send you members-only deals, inspiration, marketing emails, and push notifications. You can opt out of receiving these at any time in your account settings or directly from the marketing notification.
                </div>
            </div>
        </div>

        <div class="content-box" id="verify">
            <header>
                <button type="button" class="icon-button" id="back-to-signup-info">
                    <img src="../public/images/left_caret.svg" alt="go back">
                </button>
                <span> Verify </span>
                <button type="button" class="icon-button invisible">
                    <img src="../public/images/left_caret.svg" alt="go back">
                </button>
            </header>

            <div class="content">
                <form action="/login" method="post" id="otp-form">
                    <div class="hide">
                        <div class="input-box" id="otp-email-box">
                            <i class="fa-solid fa-envelope icon"></i>
                            <input type="email" name="email" id="otp-email" inputmode="email" placeholder="Email"
                                autocomplete="off"
                                pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                title="Email must contain '@' and '.' to be valid" readonly required>
                        </div>
                        <div class="hint">
                            We'll send you an OTP on this address to verify your identity.
                        </div>
                    </div>

                    <div>
                        <div class="input-box" id="otp-box">
                            <i class="fa-solid fa-key icon"></i>
                            <input type="text" name="otp" id="otp" inputmode="numeric" placeholder="OTP" autocomplete="off"
                            minlength="6" maxlength="6" pattern=".{6,6}" title="Enter a 6 digit OTP" required>
                        </div>
                        <div class="error hide">
                            <i class="fa-solid fa-circle-info"></i>
                            Incorrect OTP, please try again.
                        </div>
                        <div class="hint">
                            Enter a valid 6 digit OTP sent to your email.
                        </div>
                    </div>

                    <button type="submit" class="button activate" id="signup">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Sign up
                    </button>
                </form>
            </div>
        </div>

        <div class="content-box" id="login-info">
            <header>
                <button type="button" class="icon-button" id="back-from-login-info">
                    <img src="../public/images/left_caret.svg" alt="go back">
                </button>
                <span> Password </span>
                <button type="button" class="icon-button invisible">
                    <img src="../public/images/left_caret.svg" alt="go back">
                </button>
            </header>

            <div class="content">
                <form action="/login" method="post" id="password-form">
                    <div class="hide">
                        <div class="input-box" id="login-email-box">
                            <i class="fa-solid fa-envelope icon"></i>
                            <input type="email" name="email" id="login-email" inputmode="email" placeholder="Email"
                                autocomplete="off"
                                pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                title="Email must contain '@' and '.' to be valid" readonly required>
                        </div>
                        <div class="hint">
                            We'll send you an OTP on this address to verify your identity.
                        </div>
                    </div>

                    <div>
                        <div class="input-box" id="login-password-box">
                            <i class="fa-solid fa-lock icon"></i>
                            <input type="password" name="password" id="login-password" placeholder="Password (8+ characters)" autocomplete="off" minlength="8" maxlength="32" pattern=".{8,32}" title="Enter your password to Login into your account." required>
                            <i class="fa-solid fa-eye eye icon"></i>
                        </div>
                        <div class="error hide">
                            <i class="fa-solid fa-circle-info"></i>
                            Incorrect password, please try again.
                        </div>
                        <div class="hint">
                            Enter your password to Login into your account.
                        </div>
                    </div>

                    <button type="submit" class="button activate" id="login-button">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>