<div class="dropdown-menu hide">
    <a href="javascript:void(0)">
        <div class="profile">
            <span> <%= user.name %> </span>
            <img src="../public/images/avatar.svg" alt="user">
        </div>
    </a>

    <span class="dropdown-divider"></span>

    <a href="javascript:void(0)" class="bold"> Messages </a>
    <a href="javascript:void(0)" class="bold"> Notifications </a>
    <a href="javascript:void(0)" class="bold"> Trips </a>
    <a href="javascript:void(0)" class="bold"> Wishlists </a>

    <span class="dropdown-divider"></span>

    <a href="https://www.airbnb.co.in/help?audience=guest"> Help Centre </a>
    <a href="javascript:void()" id="log-out"> Logout </a>
</div>