
table {
    width: 70%;
    display: table;
    text-indent: initial;
    border-spacing: 0.125rem;
    border-color: gray;
    border-collapse: collapse;
}

.heading-row > th {
    width: 100%;
    display: flex;
    text-align: left;
}

thead > tr > th, tbody > tr > th {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.625rem;
    padding: 2rem 0;
}

tbody > tr > th {
    font-weight: 500;
}

thead > tr > th {
    font-weight: 400;
}

.light-heading {
    border-bottom: 1px solid #dddddd;
}

.light-heading > th {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.heading-row {
    border-top: 2px solid #dddddd;
}

.heading-row > td {
    width: 20%;
}

.heading-row > td > div {
    display: flex;
    place-items: center;
    place-content: center;
}

td {
    display: table-cell;
    color: #717171;
    font-size: 1.025rem;
    font-weight: 400;
}

.description-row > td {
    padding-bottom: 2rem;
}